@(user: User)

@if(user != null) {
   @* <ul class="nav navbar-nav navbar-right user-section">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" style="display: flex;" data-toggle="dropdown">
                <span class="user-name">@user.email </span>
                <i class="fa fa-ellipsis-v fa-2x"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@controllers.account.settings.routes.Index.index()"><i class="fa fa-wrench"></i> @Messages("settings")</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.logout()"><i class="fa fa-power-off"></i> @Messages("logout")</a></li>
            </ul>
        </li>
    </ul>*@
}
